<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.egrobots.prochat">

    <application
        android:name=".presentation.BaseActivity"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
<!--        <activity-->
<!--            android:name=".presentation.user.UserProfileActivity"-->
<!--            android:theme="@style/LightAppTheme"-->
<!--            android:windowSoftInputMode="adjustPan" />-->
        <activity android:name=".presentation.authentication.MainActivity" />
        <activity
            android:name=".presentation.authentication.VerifyAccount"
            android:theme="@style/DarkAppTheme"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".presentation.authentication.SignUpActivity"
            android:theme="@style/DarkAppTheme"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".presentation.authentication.ForgotPasswordActivity"
            android:theme="@style/DarkAppTheme"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".presentation.authentication.LoginActivity"
            android:theme="@style/DarkAppTheme"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".presentation.user.UserProfileActivity"
            android:noHistory="true"
            android:theme="@style/DarkAppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

</manifest>